<?xml version="1.0"?>
<!--
 *
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
 *
-->
<config>
    <modules>
        <Plugincompany_Couponimport>
            <version>1.0.5</version>
        </Plugincompany_Couponimport>
    </modules>
    <global>
        <models>
            <plugincompany_couponimport>
                <class>Plugincompany_Couponimport_Model</class>
                <resourceModel>plugincompany_couponimport_resource</resourceModel>
            </plugincompany_couponimport>
            <plugincompany_couponimport_resource>
                <class>Plugincompany_Couponimport_Model_Resource</class>
            </plugincompany_couponimport_resource>
        </models>
        <blocks>
            <plugincompany_couponimport>
                <class>Plugincompany_Couponimport_Block</class>
            </plugincompany_couponimport>
        </blocks>
        <helpers>
            <plugincompany_couponimport>
                <class>Plugincompany_Couponimport_Helper</class>
            </plugincompany_couponimport>
        </helpers>
        <resources>
            <plugincompany_couponimport_setup>
                <setup>
                    <module>Plugincompany_Couponimport</module>
                </setup>
            </plugincompany_couponimport_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <couponimport>
                <use>admin</use>
                <args>
                    <module>Plugincompany_Couponimport_Adminhtml</module>
                    <frontName>couponimport</frontName>
                </args>
            </couponimport>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <plugincompany_couponimport>
                    <file>plugincompany_couponimport.xml</file>
                </plugincompany_couponimport>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <plugincompany_couponimport>
                        <type>model</type>
                        <class>plugincompany_couponimport/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </plugincompany_couponimport>
                </observers>
            </core_block_abstract_to_html_before>
            <salesrule_rule_save_after>
                <observers>
                    <plugincompany_couponimport>
                        <type>model</type>
                        <class>plugincompany_couponimport/observer</class>
                        <method>salesruleRuleSaveAfter</method>
                    </plugincompany_couponimport>
                </observers>
            </salesrule_rule_save_after>
        </events>
    </adminhtml>

</config>